.affiliate-plans-text {
	
}

#affiliate-plans{}
#affiliate-plansb.name
{
	
}
#affiliate-plans ul{}
#affiliate-plans ul li{}
#affiliate-plans ul li button.btn.btn-register{
	
	    cursor: pointer;
    text-align: center;
    background: #70bb18;
    border: none;
    color: #fff;
    font-size: 13px;
    position: relative;
    text-transform: uppercase;
    border-radius: 4px;
    line-height: 30px;
    height: 33px;
    vertical-align: middle;
    padding: 0;
    outline: none;
    border-radius: 4px;
    background-color: #a662a2;
    padding: 1.5%;
    width: 100px;
	
}
#affiliate-plans ul li button.btn.btn-register:hover{}
